<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688690750237-hbpnem9hn6c2051i1pibe0ji4lfeup4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688690750237-hbpnem9hn6c2051i1pibe0ji4lfeup4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>688690750237-0aflsu3jas37ohhl2t9qaa4ln0845135.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaQ3btpcnInGV5JeNtlbAlsqUjzP1qQiA</string>
	<key>GCM_SENDER_ID</key>
	<string>688690750237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alwanohEstore</string>
	<key>PROJECT_ID</key>
	<string>alwanoh-store</string>
	<key>STORAGE_BUCKET</key>
	<string>alwanoh-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688690750237:ios:d6d41c0e19f59db9bd37f4</string>
</dict>
</plist>